.shoplist{
  margin: 40px auto;
  margin-top: 5px;
}
.shop_container{
    background-color: white;
    width: 650px;
    height: 300px;
    margin: 40px auto;
    border-radius: 10px; 
    overflow: hidden; 
}
.img_buy{
    width: 150px; 
    height: 150px;
    margin-top: 15px;
    margin-left:15px;
}
.ti{
    display: flex;
}
.cost_name{
    max-width: 150px;
    max-height: 150px;
    margin-left: 20px;
}
.button_pm{
    margin: 25px;
    margin-top: 15px;
    max-width: 30px;
    max-height: 30px;
    text-align: center;
    color:white;
    background-color:rgb(184, 182, 179);
    border-radius: 200px;
}
.buttons{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.total_amount{
    width: 300px;
    height: 120px;
    margin-left: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    display: flex; /* Добавляем flex-контейнер */
    align-items: center; /* Выравниваем содержимое по вертикали */
    justify-content: center; 
    padding:"20px"
}
.buy {
    margin: 50px auto;
    margin-top: 15px;
    max-width: 300px;
    height: 500px;
    text-align: center;
    font-family: 'Arial', serif; 
    color:rgb(3, 97, 239);
    background-color:rgb(249, 249, 211);
    border-radius: 10px;
    border: none;
  }
  .buy:hover {
    background-color: #f7b4ee; /* Изменение цвета при наведении */
  }